<!--
<h2>{{title}}</h2>
<div class="movie">
  <div class="movie__images">
    <div class="thumbnails">
      <ngx-slick-carousel  [config]="sliderConfig" class="carousel">
        <div class="slick-item" *ngFor="let movie of movies" ngxSlickItem>
          <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="{{movie.title}}">
          <h4>{{movie.title}}</h4>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
-->


<h2 class="main__title">{{title}}</h2>
<ul class="mdc-image-list my-image-list">
  <li class="mdc-image-list__item" *ngFor="let movie of movies">
    <div class="mdc-image-list__image-aspect-container">
      <a href="#" routerLink="/movie/{{movie.id}}">
        <img class="mdc-image-list__image" alt="{{movie.title}}"
             src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}">
      </a>
    </div>
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">{{movie.title}}</span>
    </div>
  </li>
</ul>





