<!-- tslint:disable -->
<h2>{{title}}</h2>
<div class="movie">
  <div class="movie__images">
    <div class="thumbnails">
      <ngx-slick-carousel [config]="sliderConfig" class="carousel">
        <div class="slick-item" *ngFor="let movie of movies.results" ngxSlickItem>
          <a href="#" routerLink="/movie/{{movie.id}}">
            <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="{{movie.title}}">
          </a>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>

